.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/report/plots_3-10-23-odd-d-3.qmd
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-9-7.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-9-6.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-9-5.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-9-4.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-9-3.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-9-2.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-9-1.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-8-6.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-8-5.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-8-4.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-8-3.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-8-2.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-8-1.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-7-9.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-7-8.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-7-7.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-7-6.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-7-5.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-7-4.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-7-3.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-7-2.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-7-12.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-7-11.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-7-10.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-7-1.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-6-7.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-6-6.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-6-5.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-6-4.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-6-3.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-6-2.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-6-1.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-5-7.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-5-6.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-5-5.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-5-4.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-5-3.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-5-2.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-5-1.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-4-7.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-4-6.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-4-5.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-4-4.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-4-3.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-4-2.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-4-1.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-3-7.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-3-6.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-3-5.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-3-4.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-3-3.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-3-2.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-3-1.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-2-7.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-2-6.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-2-5.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-2-4.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-2-3.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-2-2.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-2-1.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-10-7.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-10-6.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-10-5.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-10-4.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-10-3.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-10-2.pdf
inst/report/plots_3-10-23-even-d-2_files/figure-pdf/unnamed-chunk-10-1.pdf
inst/report/plots_3-10-23-even-d-2_ew.qmd
inst/report/plots_3-10-23-even-d-2_cache/pdf/sim6a_6290c2eb52ff0753d35b086e4059b431.rdx
inst/report/plots_3-10-23-even-d-2_cache/pdf/sim6a_6290c2eb52ff0753d35b086e4059b431.rdb
inst/report/plots_3-10-23-even-d-2_cache/pdf/sim6a_6290c2eb52ff0753d35b086e4059b431.RData
inst/report/plots_3-10-23-even-d-2_cache/pdf/sim6_07724fbf42e8e7aec3c4c235f486afd7.rdx
inst/report/plots_3-10-23-even-d-2_cache/pdf/sim6_07724fbf42e8e7aec3c4c235f486afd7.rdb
inst/report/plots_3-10-23-even-d-2_cache/pdf/sim6_07724fbf42e8e7aec3c4c235f486afd7.RData
inst/report/plots_3-10-23-even-d-2_cache/pdf/sim5b_9aed3229f7d7820045d0793b65176b3e.rdx
inst/report/plots_3-10-23-even-d-2_cache/pdf/sim5b_9aed3229f7d7820045d0793b65176b3e.rdb
inst/report/plots_3-10-23-even-d-2_cache/pdf/sim5b_9aed3229f7d7820045d0793b65176b3e.RData
inst/report/plots_3-10-23-even-d-2_cache/pdf/sim4_e740d144e9be166579f014cfb96726da.rdx
inst/report/plots_3-10-23-even-d-2_cache/pdf/sim4_e740d144e9be166579f014cfb96726da.rdb
inst/report/plots_3-10-23-even-d-2_cache/pdf/sim4_e740d144e9be166579f014cfb96726da.RData
inst/report/plots_3-10-23-even-d-2_cache/pdf/sim3b_7cd71483024c545e507c600e474157a1.rdx
inst/report/plots_3-10-23-even-d-2_cache/pdf/sim3b_7cd71483024c545e507c600e474157a1.rdb
inst/report/plots_3-10-23-even-d-2_cache/pdf/sim3b_7cd71483024c545e507c600e474157a1.RData
inst/report/plots_3-10-23-even-d-2_cache/pdf/sim3_48eaeb8a58ca137ec0d697a1678299bc.rdx
inst/report/plots_3-10-23-even-d-2_cache/pdf/sim3_48eaeb8a58ca137ec0d697a1678299bc.rdb
inst/report/plots_3-10-23-even-d-2_cache/pdf/sim3_48eaeb8a58ca137ec0d697a1678299bc.RData
inst/report/plots_3-10-23-even-d-2_cache/pdf/sim1b_643b6dfa83702d5cfad5f1c150cb972a.rdx
inst/report/plots_3-10-23-even-d-2_cache/pdf/sim1b_643b6dfa83702d5cfad5f1c150cb972a.rdb
inst/report/plots_3-10-23-even-d-2_cache/pdf/sim1b_643b6dfa83702d5cfad5f1c150cb972a.RData
inst/report/plots_3-10-23-even-d-2_cache/pdf/sim1_fd5f5989b0a8e74b1381e47a675d12cf.rdx
inst/report/plots_3-10-23-even-d-2_cache/pdf/sim1_fd5f5989b0a8e74b1381e47a675d12cf.rdb
inst/report/plots_3-10-23-even-d-2_cache/pdf/sim1_fd5f5989b0a8e74b1381e47a675d12cf.RData
inst/report/plots_3-10-23-even-d-2_cache/pdf/__packages
inst/report/plots_3-10-23-even-d-2.qmd
inst/report/plots_3-10-23-even-d-2.pdf
inst/report/g4ah_recCV.pdf
inst/report/g4ah_PT_recCV.pdf
inst/report/g4ah_PT.pdf
inst/report/g4ah_PD_recCV.pdf
inst/report/g4ah_MR_recCV.pdf
inst/report/g4ah_DP_recCV.pdf
inst/report/g4ah_DP_MR_recCV.pdf
inst/report/g4ac_recCV.pdf
inst/report/g4ac_PT_recCV.pdf
inst/report/g4ac_PT.pdf
inst/report/g4ac_PD_recCV.pdf
inst/report/g4ac_MR_recCV.pdf
inst/report/g4ac_DP_recCV.pdf
inst/report/g4ac_DP_MR_recCV.pdf
inst/report/g0d_recCV.pdf
inst/report/g0d_PT_recCV.pdf
inst/report/g0d_PT.pdf
inst/report/g0d_PD_recCV.pdf
inst/report/g0d_MR_recCV.pdf
inst/report/g0d_DP_recCV.pdf
inst/report/g0d_DP_MR_recCV.pdf
inst/report/g0c_recCV.pdf
inst/report/g0c_PT_recCV.pdf
inst/report/g0c_PT.pdf
inst/report/g0c_PD_recCV.pdf
inst/report/g0c_MR_recCV.pdf
inst/report/g0c_DP_recCV.pdf
inst/report/g0c_DP_MR_recCV.pdf
inst/report/g0br_recCV.pdf
inst/report/g0br_PT_recCV.pdf
inst/report/g0br_PT.pdf
inst/report/g0br_PD_recCV.pdf
inst/report/g0br_MR_recCV.pdf
inst/report/g0br_DP_recCV.pdf
inst/report/g0br_DP_MR_recCV.pdf
inst/report/g0bnb_recCV.pdf
inst/report/g0bnb_PT_recCV.pdf
inst/report/g0bnb_PT.pdf
inst/report/g0bnb_PD_recCV.pdf
inst/report/g0bnb_MR_recCV.pdf
inst/report/g0bnb_DP_recCV.pdf
inst/report/g0bnb_DP_MR_recCV.pdf
inst/report/g0bh_recCV.pdf
inst/report/g0bh_PT_recCV.pdf
inst/report/g0bh_PT.pdf
inst/report/g0bh_PD_recCV.pdf
inst/report/g0bh_MR_recCV.pdf
inst/report/g0bh_DP_recCV.pdf
inst/report/g0bh_DP_MR_recCV.pdf
inst/report/g0b_recCV.pdf
inst/report/g0b_PT_recCV.pdf
inst/report/g0b_PT.pdf
inst/report/g0b_PD_recCV.pdf
inst/report/g0b_MR_recCV.pdf
inst/report/g0b_DP_recCV.pdf
inst/report/g0b_DP_MR_recCV.pdf
inst/report/g0ac_recCV.pdf
inst/report/g0ac_PT_recCV.pdf
inst/report/g0ac_PT.pdf
inst/report/g0ac_PD_recCV.pdf
inst/report/g0ac_MR_recCV.pdf
inst/report/g0ac_DP_recCV.pdf
inst/report/g0ac_DP_MR_recCV.pdf
inst/report/g0a_recCV.pdf
inst/report/g0a_PT_recCV.pdf
inst/report/g0a_PT.pdf
inst/report/g0a_PD_recCV.pdf
inst/report/g0a_MR_recCV.pdf
inst/report/g0a_DP_recCV.pdf
inst/report/g0a_DP_MR_recCV.pdf
inst/report/g0a1_PT_CV.pdf
inst/report/g0a1_PD_CV.pdf
inst/report/g0a1_MR_CV.pdf
inst/report/g0a1.pdf
inst/report/Figures-3.docx
inst/ak_salmon_exvessel_prices-DF.xlsx
inst/model_output/.DS_Store
inst/model_output/even/harvest_CV.rds
inst/model_output/even/harvest_CV_pricevar.rds
inst/model_output/even/price_decline.rds
inst/model_output/even/price_decline_pricevar.rds
inst/model_output/even/rec_sd.rds
inst/model_output/even/rec_sd_pricevar.rds
inst/model_output/even/time_lag.rds
inst/model_output/even/time_lag_pricevar.rds
inst/model_output/even/transprob.rds
inst/model_output/even/transprob_pricevar.rds
inst/model_output/odd/harvest_CV.rds
inst/model_output/odd/harvest_CV_pricevar.rds
inst/model_output/odd/price_decline.rds
inst/model_output/odd/price_decline_pricevar.rds
inst/model_output/odd/rec_sd.rds
inst/model_output/odd/rec_sd_pricevar.rds
inst/model_output/odd/time_lag.rds
inst/model_output/odd/time_lag_pricevar.rds
inst/model_output/odd/transprob.rds
inst/model_output/odd/transprob_pricevar.rds
inst/plots/.DS_Store
inst/plots/even/harvest_CV.pdf
inst/plots/even/harvest_CV_pricevar.pdf
inst/plots/even/price_decline.pdf
inst/plots/even/price_decline_pricevar.pdf
inst/plots/even/rec_sd.pdf
inst/plots/even/rec_sd_pricevar.pdf
inst/plots/even/time_lag.pdf
inst/plots/even/time_lag_pricevar.pdf
inst/plots/even/transprob.pdf
inst/plots/even/transprob_pricevar.pdf
inst/plots/odd/harvest_CV.pdf
inst/plots/odd/harvest_CV_pricevar.pdf
inst/plots/odd/price_decline.pdf
inst/plots/odd/price_decline_pricevar.pdf
inst/plots/odd/rec_sd.pdf
inst/plots/odd/rec_sd_pricevar.pdf
inst/plots/odd/time_lag.pdf
inst/plots/odd/time_lag_pricevar.pdf
inst/plots/odd/transprob.pdf
inst/plots/odd/transprob_pricevar.pdf
